In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
data = pd.read_json(r"/home/joaquim/projectos/marketScraper/marketScraper/marketScraper/data/precios.json")

In [6]:
data.head()

,date,categoria,nombres,precios
0,2022-07-06,Alimento De Bebés Y Niños,Cacao En Polvo Nestlé Nescao 300 Gr,"$141,19"
1,2022-07-06,Alimento De Bebés Y Niños,Cacao ARCOA Bolsa 360 Gr,"$201,55"
2,2022-07-06,Alimento De Bebés Y Niños,Cacao En Polvo Arcoa Paq 360 Grm,"$269,50"
3,2022-07-06,Alimento De Bebés Y Niños,Cacao Granulado Chocolino Paq 800 Grm,"$632,35"
4,2022-07-06,Alimento De Bebés Y Niños,Cacao Granulado Chocolino Paq 360 Grm,"$307,95"

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57443 entries, 0 to 57442
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       57443 non-null  datetime64[ns]
 1   categoria  57443 non-null  object
 2   nombres    57443 non-null  object
 3   precios    57443 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 1.8+ MB

In [13]:
data[data["nombres"]=="Turron Mani Sabor Chocolatada Arcor Paq 10 Uni"]

,date,categoria,nombres,precios
1563,2022-07-06,Golosinas,Turron Mani Sabor Chocolatada Arcor Paq 10 Uni,"$514,99"
4700,2022-07-10,Golosinas,Turron Mani Sabor Chocolatada Arcor Paq 10 Uni,"$514,99"
30297,2022-07-11,Golosinas,Turron Mani Sabor Chocolatada Arcor Paq 10 Uni,"$514,99"
35737,2022-07-14,Golosinas,Turron Mani Sabor Chocolatada Arcor Paq 10 Uni,"$514,99"
56457,2023-10-15,Golosinas,Turron Mani Sabor Chocolatada Arcor Paq 10 Uni,"$1.163,82"
56950,2023-10-15,Golosinas,Turron Mani Sabor Chocolatada Arcor Paq 10 Uni,"$1.163,82"